/htop
/pulse
/qt*
/Cursor
/BraveSoftware
/KDE
/Vencord
/dconf
/Electron
/Discord
/discord
/go
/gtk*
/kde*
/libaccounts-glib
/mako
/mpv
/yay
/xsetingsd
/zed
QtProject.conf
install.sh
nextjs-nodejs
LICENSE
kglobal*
ksm*
kti*
kwin*
kspl*
sddmthemeinstallerrc
spectaclerc
touchpad*
README.md
Trolltech.conf
baloofilerc
bluedevilglobalrc
discoverrc
dolphinrc
drkonqirc
droidcam
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
katerc
katevirc
kde*
kcalcrc
kcminputrc
kconf_updaterc
kded5rc
kdenetworkdrc
kdenetworkdrc
kdialogrc
kdialogrc
plasma*
kfontinstuirc
kwalletrc
sddmthemeinstaller
mimeapps.list
pavu*
power*
kwinrc
kxkbrc
systemmonitorrc
trashrc
user-dirs*
xdg-desktop-portal-kderc
